*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{
font-family:'Poppins',sans-serif;

background:
linear-gradient(
rgba(0,0,0,.6),
rgba(0,0,0,.8)
),
url("https://images.unsplash.com/photo-1574629810360-7efbbe195018?q=80&w=1920");

background-size:cover;
background-position:center;
background-attachment:fixed;

color:white;
min-height:100vh;
padding:20px;
}

header{
text-align:center;
margin-bottom:30px;
}

h1{
font-size:3rem;
color:#FFD700;
text-shadow:2px 2px 10px black;
}

.subtitulo{
margin-top:5px;
}

.painel{
display:flex;
justify-content:center;
gap:20px;
flex-wrap:wrap;
margin-top:25px;
}

.box{
background:rgba(255,255,255,.15);
backdrop-filter:blur(6px);
padding:15px;
width:160px;
border-radius:15px;
text-align:center;
}

.box p{
font-size:2rem;
font-weight:bold;
color:#FFD700;
}

.formulario{
max-width:500px;
margin:auto;

background:rgba(255,255,255,.15);

backdrop-filter:blur(8px);

padding:25px;

border-radius:20px;

display:flex;
flex-direction:column;
gap:12px;
}

.formulario input,
.formulario select{
padding:12px;
border:none;
border-radius:10px;
}

.formulario button{
padding:12px;
border:none;
border-radius:10px;
cursor:pointer;

font-weight:bold;

background:linear-gradient(
45deg,
#FFD700,
#ff9800
);
}

.check{
display:flex;
gap:10px;
align-items:center;
}

.busca{
max-width:500px;
margin:25px auto;
}

.busca input{
width:100%;
padding:12px;
border:none;
border-radius:10px;
}

.colecao{
display:grid;

grid-template-columns:
repeat(auto-fill,minmax(160px,1fr));

gap:20px;

justify-items:center;
}

/* FIGURINHAS */

.card{
width:150px;

background:white;

color:black;

border-radius:10px;

overflow:hidden;

border:4px solid #d9b45b;

box-shadow:0 8px 20px rgba(0,0,0,.5);

transition:.3s;
}

.card:hover{
transform:translateY(-5px);
}

.card::before{
content:"FIFA WORLD CUP";

display:block;

background:#8b0000;

color:white;

font-size:10px;

font-weight:bold;

text-align:center;

padding:5px;
}

.card img{
width:100%;
height:170px;
object-fit:cover;

border-bottom:2px solid #d9b45b;
}

.card-conteudo{
padding:10px;
}

.card h3{
text-align:center;
font-size:14px;
color:#003366;
margin-bottom:8px;
}

.card p{
font-size:11px;
margin-bottom:5px;
}

.raridade{
font-weight:bold;
color:#ff9800;
}

.botoes{
display:flex;
flex-direction:column;
gap:5px;
margin-top:10px;
}

.btn-favorito{
background:gold;
border:none;
padding:8px;
border-radius:8px;
cursor:pointer;
font-size:11px;
font-weight:bold;
}

.btn-excluir{
background:#d32f2f;
color:white;
border:none;
padding:8px;
border-radius:8px;
cursor:pointer;
font-size:11px;
font-weight:bold;
}

.favorito{
border:4px solid gold;
box-shadow:0 0 20px gold;
}

.repetido{
border:4px solid #ff5722;
}

.oculto{
display:none;
}